$primary-red: rgba(151, 18, 18, 1);
$primary-red-faded: rgba(151, 18, 18, 0.25);
$light-dark: light-dark(#1b1b1b, whitesmoke);
$dark-light: light-dark(whitesmoke, #1b1b1b);
$rating-star: goldenrod;
$backlog-heart: palevioletred;
