$primary-red: rgba(151, 18, 18, 1);
$primary-red-faded: rgba(151, 18, 18, 0.25);
$light-dark: light-dark(#141414, whitesmoke);
$dark-light: light-dark(whitesmoke, #141414);
$rating-star: goldenrod;
$backlog-heart: palevioletred;
