.homepage-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .homepage-title {
        font-size: 12rem;
        text-align: center;
        color: rgba(151, 18, 18, 0.979);
        font-family: 'Bubblegum Sans';
        -webkit-text-stroke: 2.5px white;
    }

    .homepage-searchbar {
        border: 2.5px solid rgba(151, 18, 18, 0.979);
        border-radius: 25px;
        width: 60rem;
        height: 4rem;
        display: flex;
        padding: 0 20px 0 20px;
        transition: all .5s ease-in-out;

        .homepage-input {
            background-color: transparent;
            border: none;
            border-radius: 25px;
            height: 4rem;
            width: 85%;
            font-size: 30px;
            font-family: 'Bubblegum Sans';
        }

        .homepage-input:focus-visible {
            outline: none;
        }

        .homepage-icons {
            display: flex;
            justify-content: end;
            align-items: center;
            width: 15%;
            gap: 20px;

            .homepage-clear {
                cursor: pointer;
            }

            .homepage-clear:hover {
                color: rgba(151, 18, 18, 0.979);
            }
        }
    }

    .homepage-searchbar:focus-within,
    .homepage-searchbar:hover {
        outline: 2.5px solid whitesmoke;
        outline-offset: 10px;
    }

    .homepage-results {
        display: flex;
        gap: 40px;
        width: 80%;
        overflow-y: hidden;
        overflow-x: auto;
        margin-top: 40px;
        height: 450px;
        padding: 20px;

        .homepage-result {
            border: 2px solid rgba(151, 18, 18, 0.979);
            outline: 2px solid transparent;
            transition: all .5s ease-in-out;
            border-radius: 25px;
            cursor: pointer;
            width: 300px;
            height: 400px;

            .homepage-result-image {
                border-radius: 25px 25px 0 0;
                width: 300px;
                height: 300px;
            }

            .homepage-result-details {
                width: 300px;
                height: 100px;

                .result-details-title {}

                .result-details-type {}

                .result-details-year {}
            }
        }

        .homepage-result:hover {
            outline-color: whitesmoke;
            outline-offset: 10px;

        }
    }
}