@use "Colours.scss";

.loginpage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    width: 50%;

    .login-tab {
      height: calc(100% - 69px);
    }
  }
}
