@import "./Colours.scss";

.mediapage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .media {
    height: 100%;
    display: flex;
    overflow: hidden;

    &.empty {
      justify-content: center;
      align-items: center;
    }

    .media-poster {
      height: 100%;
      width: 40%;
    }

    .media-details {
      width: calc(60% - 8rem);
      padding: 4rem;
      height: calc(100% - 8rem);
      overflow: auto;
      display: flex;
      flex-direction: column;

      .details-section {
        display: flex;
        margin-top: 20px;
        padding: 20px;
        background-color: $primary-red;
        border-radius: 10px;

        &.section-2 {
          flex-direction: column;
          gap: 20px;
        }
      }

      .table-title {
        font-size: 25px;
      }

      .star-icon {
        color: $rating-star;
        font-size: 1rem;
        margin-right: 5px;
      }
    }
  }
}
