.mediapage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .mediapage-topbar {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    height: 4rem;
    text-wrap: nowrap;

    .mediapage-return {
      height: 4rem;
      width: calc(40% - 15px);
      display: flex;
      font-size: 2.5rem;
      margin-left: 15px;

      .return-text {
        font-size: 1.5rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
      }

      .return-text:hover {
        color: rgba(151, 18, 18, 1);
      }
    }

    .mediapage-account {
      width: calc(60% - 15px);
      display: flex;
      justify-content: end;
      font-size: 2.5rem;
      height: 4rem;
      background-color: light-dark(whitesmoke, #242424);
      margin-right: 15px;

      .account-text {
        font-size: 1.5rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 15px;
        cursor: pointer;
        transition: color 0.5s ease-in-out;
      }

      .account-text:hover {
        color: rgba(151, 18, 18, 1);
      }
    }
  }

  .media {
    height: 100%;
    display: flex;
    overflow: hidden;

    &.empty {
      justify-content: center;
      align-items: center;
    }

    .media-poster {
      height: 100%;
      width: 40%;
    }

    .media-details {
      width: calc(60% - 8rem);
      padding: 4rem;
      height: calc(100% - 8rem);
      overflow: auto;
      display: flex;
      flex-direction: column;

      .details-section {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        padding: 20px;
        background-color: rgba(151, 18, 18, 1);
        border-radius: 10px;

        &.section-2 {
          flex-direction: column;
          gap: 20px;
        }
      }

      .table-title {
        font-size: 25px;
      }

      .star-icon {
        color: goldenrod;
        font-size: 1rem;
        margin-right: 5px;
      }
    }
  }
}
