@use "../Style/Colours.scss";

.accountpage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .account {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .MuiAppBar-root {
      background-color: Colours.$primary-red !important;
      border-radius: 0 !important;

      .MuiTabs-root {
        border-radius: 0 !important;
        margin-top: 4rem;
        background-color: Colours.$primary-red !important;

        .MuiTab-root {
          width: 50% !important;
          border-radius: 0 !important;
          background-color: Colours.$primary-red !important;
        }

        .MuiTab-root:hover {
          border-color: whitesmoke !important;
        }

        .MuiTabs-indicator {
          background-color: whitesmoke !important;
        }
      }
    }

    .tab-panel {
      height: 100%;
      overflow: hidden auto;

      .header {
        width: calc(100% - 3rem);
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: light-dark(whitesmoke, #1a1a1a);
        flex-wrap: wrap;
        gap: 0.5rem;
        border-bottom: 1px solid light-dark(grey, #333);

        h1 {
          margin: 0;
          font-size: 2rem;
          color: Colours.$light-dark;
          text-wrap: nowrap;
        }

        .select {
          width: 25%;
        }

        .logout-btn {
          background-color: Colours.$primary-red;
          color: whitesmoke;
        }

        .logout-btn:not(:disabled):hover {
          background-color: Colours.$light-dark;
          color: Colours.$primary-red;
        }
      }

      .account-details {
        color: Colours.$dark-light;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
      }

      .media-reviews,
      .backlog {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 2rem 0 2rem;
        gap: 2rem;

        &.empty {
          justify-content: center;
          align-items: center;
        }

        .media,
        .review {
          background-color: light-dark(whitesmoke, #242424);
          border-radius: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: center;
          overflow: hidden;
          text-wrap: nowrap;
          cursor: pointer;
          position: relative;
          transition: transform 0.3s ease-in-out;

          .tag {
            position: absolute;
            background-color: Colours.$primary-red;
            top: 0;
            left: 0;
            padding: 0.75rem;
            font-size: 0.75rem;
            border-radius: 0 0 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            color: whitesmoke;
          }
        }
      }

      .media-reviews {
        .review {
          height: 187.5px;
          min-height: 187.5px;

          .image {
            height: 100%;
            width: 150px;
            min-width: 150px;
            color: whitesmoke;
            text-align: center;

            &.empty {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .review-info {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 0 1.5rem;
            gap: 0.5rem;
          }

          .review-info h3 {
            font-size: 2rem;
            margin: 0;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
          }

          .review-info p {
            margin: 0;
            font-size: 1rem;
            color: light-dark(grey, #ccc);
          }
        }

        .review:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
        }
      }

      .backlog {
        .media {
          flex-direction: column;
          width: 300px;
          height: 375px;

          .image {
            color: whitesmoke;
            text-align: center;
            width: 300px;
            height: 375px;

            &.empty {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .backlog-info {
            position: absolute;
            bottom: 0;
            background-color: Colours.$primary-red;
            padding: 1rem;
            width: calc(100% - 2rem);
            visibility: hidden;
            opacity: 0;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
            color: whitesmoke;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
          }
        }

        .media:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);

          .backlog-info {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .load-btn {
        background-color: Colours.$primary-red;
        color: whitesmoke;
      }

      .load-btn:not(:disabled):hover {
        background-color: Colours.$light-dark;
        color: Colours.$primary-red;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .accountpage-container {
    .account {
      .MuiTab-root {
        font-size: 0.75rem !important;
      }

      .header {
        justify-content: center !important;
        flex-direction: column;

        h1 {
          font-size: 1.5rem !important;
        }

        .select {
          width: 75% !important;
        }
      }

      .account-details {
        padding: 0 2rem 2rem 2rem;

        .info-item {
          flex-direction: column !important;
          gap: 0.5rem;

          .info-label,
          .info-value {
            width: 100% !important;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .info-action {
            justify-content: center !important;
          }
        }
      }

      .tab-panel {
        .backlog {
          justify-content: center;

          .media {
            width: 225px;
            height: 281.25px;

            .image {
              width: 225px;
              height: 281.25px;
            }
          }
        }

        .media-reviews {
          justify-content: center;

          .review {
            flex-direction: column;
            align-items: flex-start;
            flex-grow: 0;
            height: auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            min-width: 225px;

            .image {
              width: 225px;
              height: 281.25px;
            }

            .review-info {
              width: calc(225px - 2rem);
              padding: 0 1rem 0.5rem 1rem;
              gap: 0;
              justify-content: center;

              h3 {
                text-align: center;
              }

              p {
                text-align: center;
              }

              span {
                display: flex;
                justify-content: center;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
