.accountpage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .account {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      border-bottom-color: transparent !important;
    }

    /* App Bar */
    .MuiAppBar-root {
      background-color: var(--palette-colour) !important;
      border-radius: 0 !important;
      padding-top: 4rem;

      .MuiTabs-root {
        border-radius: 0 !important;

        .MuiTab-root {
          width: 50% !important;
          border-radius: 0 !important;
        }

        .MuiTab-root:hover {
          border-color: var(--light-dark) !important;
        }

        .MuiTabs-indicator {
          background-color: var(--light-dark) !important;
        }
      }
    }

    .sub-header {
      min-height: 39px;
    }

    /* Headers */
    .header,
    .sub-header {
      .MuiFormControl-root {
        .MuiFormLabel-root {
          color: whitesmoke !important;
        }

        .MuiOutlinedInput-notchedOutline {
          border-color: whitesmoke !important;
        }

        .MuiSelect-select {
          color: whitesmoke !important;
        }

        .MuiSvgIcon-root {
          color: whitesmoke !important;
        }

        .MuiInputBase-root {
          color: whitesmoke !important;
          overflow: hidden !important;

          .MuiAutocomplete-input {
            padding: 0 !important;
          }

          .MuiInputBase-input {
            padding: 8px 15px;
            display: flex !important;
            gap: 0.5rem !important;
            overflow: hidden !important;
            font-family: "Orbitron" !important;
          }

          .MuiInputBase-inputAdornedStart {
            padding: 8px 15px 8px 0 !important;
          }
        }
      }

      .logout-btn {
        background-color: var(--palette-colour);
        color: whitesmoke;
      }

      .logout-btn:not(:disabled):hover {
        background-color: var(--light-dark);
        color: var(--palette-colour);
      }
    }

    .account-tab,
    .social-tab,
    .reviews-tab,
    .backlog-tab,
    .milestones-tab {
      flex: 1;
    }

    .account-tab {
      overflow: hidden auto;

      /* Account Details */
      .account-details {
        color: var(--dark-light);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
      }
    }

    .social-tab {
      overflow: hidden;
      .social-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .empty {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
        }

        .followers-tab,
        .following-tab {
          overflow: hidden auto;
          gap: 1rem;
          padding: 2rem;

          .followers {
            display: flex;
            flex-wrap: wrap;

            .follower {
              display: flex;
              align-items: center;
              gap: 0.75rem;
              flex: 1 1 20%;
              background-color: light-dark(whitesmoke, #242424);
              border-radius: 8px;
              padding: 1rem;
              overflow: hidden;
              text-wrap: nowrap;
              text-overflow: ellipsis;
              min-width: 200px;
              max-width: fit-content;
              cursor: pointer;
              box-shadow: 0 2px 5px #0000004d;
              transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
              height: fit-content;
              align-self: center;

              &:hover {
                transform: translateY(-5px);
                box-shadow: 0 5px 15px #00000080;
              }

              .details {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }
            }
          }
        }
      }
    }

    .reviews-tab {
      overflow: hidden;

      .reviews-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .layout {
          display: flex;
          flex-direction: column;
          overflow: hidden auto;
          flex: 1;

          .reviews {
            display: grid;
            grid-template-columns: repeat(auto-fit, 180px);
            justify-content: center;
            gap: 1rem;
            padding: 2rem;

            &.empty {
              display: flex;
              flex: 1;
              align-items: center;
            }
          }

          .breakdown {
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .backlog-tab {
      overflow: hidden;

      .backlog-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .layout {
          flex: 1;

          &.row {
            overflow: hidden auto;

            .backlog-section {
              .items-container {
                .items {
                  width: 100%;
                  overflow: auto hidden;
                  scroll-snap-type: x mandatory;

                  &.empty {
                    width: 100%;
                  }

                  .item {
                    scroll-snap-align: start;
                  }
                }
              }
            }
          }

          &.col {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
            overflow: hidden;

            .backlog-section {
              display: flex;
              flex-direction: column;
              overflow: hidden;
              min-width: 364px;

              .sub-header {
                flex-direction: column;
                justify-content: center;

                .actions {
                  width: 100%;
                  justify-content: space-around !important;
                }
              }

              .items-container {
                flex-direction: column;
                flex: 1;

                .items {
                  flex: 1;
                  display: flex;
                  overflow: hidden auto;
                  justify-content: center;
                  flex-wrap: wrap;
                  scroll-snap-type: y mandatory;

                  &.empty {
                    justify-content: center;
                  }

                  .item {
                    scroll-snap-align: start;
                  }
                }
              }
            }
          }

          .items-container {
            display: flex;
            overflow: hidden;
            padding: 2rem;

            .items {
              display: flex;
              gap: 1rem;

              .MuiCard-root:hover {
                .MuiCardActionArea-root {
                  .MuiCardMedia-root {
                    height: calc(225px - 64.45px);
                  }
                }
              }
            }
          }
        }
      }
    }

    .milestones-tab {
      overflow: hidden;

      .milestones-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .layout {
          display: flex;
          flex-direction: column;
          overflow: hidden auto;
          flex: 1;
          margin: 0 !important;
        }
      }
    }

    /* Load Button */
    .load-btn {
      background-color: var(--palette-colour);
      color: whitesmoke;
    }

    .load-btn:not(:disabled):hover {
      background-color: var(--light-dark);
      color: var(--palette-colour);
    }
  }
}

@media screen and (max-width: 1092px) {
  .backlog-tab {
    .backlog-container {
      .layout {
        &.row {
          display: flex;
          flex-direction: column;
        }

        &.col {
          display: flex !important;
          flex-wrap: wrap !important;
          overflow: hidden auto !important;

          .backlog-section {
            width: 100%;
            overflow: hidden;

            .items-container {
              .items {
                flex-direction: row !important;
                overflow: auto hidden !important;
                scroll-snap-type: x mandatory !important;

                .item {
                  scroll-snap-align: start !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
