.login-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .login {
    width: 100%;
    height: calc(100% - 4rem);
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container {
      height: fit-content;
      width: 75%;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      box-shadow: 0 0 50px 0 black;

      .content {
        padding: 2rem;
        overflow-y: auto;
        overflow-x: hidden;

        .login-form,
        .create-form {
          height: 100%;

          .title {
            font-size: 2rem;
            text-align: center;
          }

          .MuiFormControl-root {
            .MuiInputBase-root {
              color: inherit;
            }
          }

          .MuiButton-root {
            font-size: 16px !important;
            padding: 10px !important;
          }
        }

        .login-form {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .MuiCheckbox-root {
            &:hover {
              background-color: var(--palette-colour-faded);
            }

            &.Mui-checked {
              .MuiTouchRipple-root {
                color: var(--light-dark);
              }
            }

            .MuiSvgIcon-root {
              color: var(--palette-colour);
            }
          }
        }

        .create-form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 2rem;
          grid-row-gap: 1.5rem;

          .title {
            grid-area: 1 / 1 / 2 / 3;
          }
          .username {
            grid-area: 2 / 1 / 3 / 3;
          }
          .forename {
            grid-area: 3 / 1 / 4 / 2;
          }
          .surname {
            grid-area: 3 / 2 / 4 / 3;
          }
          .email {
            grid-area: 4 / 1 / 5 / 3;
          }
          .locale {
            grid-area: 5 / 1 / 6 / 3;

            .MuiInputBase-input {
              padding: 16.5px 14px;
            }
          }
          .timezone {
            grid-area: 6 / 1 / 7 / 3;

            .MuiInputBase-input {
              padding: 16.5px 14px;
            }
          }
          .password {
            grid-area: 7 / 1 / 8 / 3;
          }
          .confirm_password {
            grid-area: 8 / 1 / 9 / 3;
          }
          .submit {
            grid-area: 9 / 1 / 10 / 3;
          }
        }
      }
    }
  }
}
