@use "../Style/Colours.scss";

.loginpage-container {
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
  padding: 4rem;
  display: grid;
  justify-items: center;
  align-items: center;
  scroll-padding: 4rem;
  overflow-y: auto;
  overflow-x: hidden;


  .login {
    width: 50%;
    min-width: 400px;

    .login-tab {
      height: calc(100% - 69px);
      scroll-padding: 4rem;
    }
  }
}
