.login-container {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .login {
    width: 50%;
    box-shadow: 0 0 25px black !important;
  }
}

@media screen and (max-width: 1160px) {
  .login-container {
    .login {
      align-self: center !important;
      width: 75%;
    }
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    .login {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    .login {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .login-container {
    .login {
      .MuiTabs-root {
        .MuiTab-root {
          font-size: .75rem;
        }
      }
    }
  }
}
