.reviewpage-container {
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
  padding: 4rem;
  display: grid;
  gap: 40px;
  justify-items: center;
  align-items: center;
  scroll-padding: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
}
