@use "../Style/Colours.scss";

.viewreviewpage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .review {
    height: 100%;
    display: flex;
    overflow: hidden;

    &.empty {
      align-items: center;
      justify-content: center;
    }

    .media-poster {
      height: 100%;
      width: 40%;
      z-index: 200;
      background-size: 100%;

      &.empty {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30rem;
        color: Colours.$primary-red;
      }
    }

    /* Container */
    .info {
      margin: 0;
      display: flex;
      flex-direction: column;
      width: 60%;
      position: relative;

      .hero {
        padding: 5.5rem 2rem 1.5rem 2rem;
        background-color: Colours.$primary-red;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: whitesmoke;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

        .parent-title {
          font-size: 3rem;
          text-transform: uppercase;

          .sub-title {
            font-size: 1.5rem;
            color: #bbb;
          }
        }

        .edit-btn,
        .cancel-btn,
        .delete-btn,
        .save-btn {
          border-color: whitesmoke;
          color: whitesmoke;
        }

        .edit-btn:hover,
        .cancel-btn:hover,
        .delete-btn:not(:disabled):hover,
        .save-btn:not(:disabled):hover {
          background-color: whitesmoke;
          color: Colours.$primary-red;
        }
      }

      .review-details {
        padding: 2rem;
        font-size: 20px;
        overflow: hidden auto;

        p {
          margin-top: 0;
        }

        p:last-child {
          margin: 0;
        }
      }

      .review-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .review-description {
          font-size: 20px;
          width: calc(100% - 4rem);
          color: Colours.$light-dark;
          background-color: transparent;
          resize: none;
          font-family: inherit;
          border: none;
          padding: 2rem;
          height: 100%;
          outline: none;
          line-height: inherit;
          word-spacing: inherit;
        }
      }
    }
  }
}

@media screen and (max-width: 849px) {
  .viewreviewpage-container {
    .review {
      .media-poster {
        display: none;
      }

      .info {
        width: 100%;

        .hero {
          justify-content: center !important;
          padding-top: 4rem;
          gap: 1rem;
        }
      }
    }
  }
}
