@use "../Style/Colours.scss";

.viewreviewpage-container {
  width: calc(100% - 8rem);
  height: calc(100% - 8rem);
  padding: 4rem;
  overflow: hidden auto;

  .review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    &.empty {
      align-items: center;
      justify-content: center;
    }

    .media-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      flex-wrap: wrap;
      gap: 20px;

      .info {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;

        .media-poster {
          border-radius: 20px;
          max-height: 256px;
        }

        .parent-title {
          text-overflow: ellipsis;
          overflow: hidden;
          text-wrap: nowrap;
          font-size: 3rem;

          .sub-title {
            text-overflow: ellipsis;
            overflow: hidden;
            text-wrap: nowrap;
            font-size: 1.5rem;
            opacity: 75%;
          }
        }
      }
    }

    .edit-btn,
    .cancel-btn {
      border-color: Colours.$light-dark;
    }

    .edit-btn:hover,
    .cancel-btn:hover {
      background-color: Colours.$light-dark;
      color: Colours.$dark-light;
    }

    .delete-btn {
      border-color: Colours.$primary-red;
    }

    .delete-btn:disabled {
      opacity: 50%;
    }

    .delete-btn:not(:disabled):hover {
      background-color: Colours.$primary-red;
      color: whitesmoke;
    }

    .review-details {
      font-size: 1.5rem;
    }

    .review-form {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .review-description {
        font-size: 20px;
        width: 100%;
        padding: 10px;
        display: inline-block;
        border: 1px solid Colours.$primary-red;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: transparent;
        color: Colours.$light-dark;
        padding: 15px;
        transition: border-color 0.5s ease-in-out;
        resize: none;
        font-family: inherit;
        resize: vertical;
        min-height: 400px;
      }

      .review-description:hover,
      .review-description:focus {
        border-color: Colours.$light-dark;
      }

      .review-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 20px;

        .save-btn,
        .reset-btn {
          font-size: 20px;
          padding: 8px 25px;
        }

        .save-btn:disabled,
        .reset-btn:disabled {
          opacity: 50%;
        }

        .reset-btn {
          border-color: Colours.$light-dark;
          color: Colours.$light-dark;
        }

        .reset-btn:not(:disabled):hover {
          background-color: Colours.$light-dark;
          color: Colours.$dark-light;
        }

        .save-btn {
          color: Colours.$light-dark;
          border-color: Colours.$primary-red;
        }

        .save-btn:not(:disabled):hover {
          background-color: Colours.$primary-red;
          color: whitesmoke;
        }
      }
    }
  }
}
