#root {
    padding: 0;
    height: 100vh ;
    width: 100vw;
    overflow: hidden;
}

.wrapper {
    margin: 2rem;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
    overflow: hidden;
}