@import url(https://fonts.googleapis.com/css?family=Poiret+One|Lobster|Anton|Shadows+Into+Light|Open+Sans|Roboto|Orbitron|Oswald|Raleway|Montserrat|Roboto+Slab|Indie+Flower|Fjalla+One|Bree+Serif|Pacifico|Abril+Fatface);
@import "./Style/Colours.scss";

@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $light-dark;
  background-color: $dark-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "orbitron";
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: $primary-red;
  cursor: grab;
}

::placeholder {
  color: $light-dark;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important
}

.MuiSvgIcon-root {
  color: $light-dark !important;
}

.MuiSelect-select {
  padding: 10px !important;
  color: $light-dark !important;
  transition: all 0.5s ease-in-out !important;
  font-family: "orbitron" !important;
}


.MuiTableHead-root {
  background-color: $primary-red !important;
}

.MuiTableCell-root {
  color: $light-dark !important;
  font-family: "orbitron" !important;
  text-wrap: nowrap !important;
  transition: all .5s ease-in-out !important;
}

.MuiTableHead-root {
  .MuiTableRow-root:first-child {
    .MuiTableCell-root:first-child {
      border-top-left-radius: 10px !important ;
    }

    .MuiTableCell-root:last-child {
      border-top-right-radius: 10px !important ;
    }
  }
}

.MuiTableCell-root {
  border-bottom-color: $light-dark !important;
}

.MuiTableBody-root {
  .MuiTableRow-root:hover {
    .MuiTableCell-root {
      background-color: $primary-red !important;
      cursor: pointer;
    }
  }

  .MuiTableRow-root:first-child {
    .MuiTableCell-root:first-child {
      border-bottom-left-radius: 10px !important ;
    }

    .MuiTableCell-root:last-child {
      border-bottom-right-radius: 10px !important ;
    }
  }
}

.MuiPaper-root {
  background-color: $dark-light !important;
  color: $light-dark !important;

  .MuiList-root {
    padding: 0 !important;

    .MuiMenuItem-root {
      padding: 15px !important;
      font-family: "orbitron" !important;
    }

    .MuiMenuItem-root:hover {
      background-color: $primary-red-faded !important;
    }

    .MuiMenuItem-root[aria-selected="true"] {
      background-color: $primary-red !important;
    }
  }
}


