@import url(https://fonts.googleapis.com/css?family=Orbitron);

@tailwind components;
@tailwind utilities;

:root {
  font-weight: 400;
  letter-spacing: 0.1rem;

  --palette-colour: #971212;
  --palette-colour-faded: #97121240;
  --light-dark: light-dark(#141414, whitesmoke);
  --dark-light: light-dark(whitesmoke, #141414);
  --rating-star: #faaf00;
  --backlog-heart: palevioletred;

  color-scheme: light dark;
  color: var(--light-dark);
  background-color: var(--dark-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Orbitron";
  letter-spacing: 2px;
}

* {
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

body {
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  font-family: "Orbitron";
  border: 1px solid transparent;
}

button:disabled {
  opacity: 50%;
  cursor: default;
}

/* Headers */
.header,
.sub-header {
  width: calc(100% - 4rem) !important;
  padding: 20px 2rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 0.5rem !important;
  flex-wrap: wrap !important;
  border-top: 1px solid light-dark(grey, #333) !important;
  border-bottom: 1px solid light-dark(grey, #333) !important;

  &.palette {
    background-color: var(--palette-colour);

    h1,
    h2 {
      color: whitesmoke !important;
    }
  }

  &.dark-shade {
    background-color: light-dark(whitesmoke, #1a1a1a);
  }

  &.light-shade {
    background-color: light-dark(whitesmoke, #242424);
  }

  h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--light-dark);
    text-wrap: nowrap;
    text-align: center;
    align-self: center;
  }

  .actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.sub-header {
  h2 {
    margin: 0 !important;
    font-size: 1.5rem !important;
    color: var(--light-dark) !important;
    text-wrap: nowrap !important;
    align-self: center;
  }
}

@media screen and (max-width: 1000px) {
  .header,
  .sub-header {
    justify-content: center !important;

    span {
      text-align: center;
    }

    .actions {
      width: 100% !important;
      justify-content: center !important;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.w-color-circle {
  justify-content: space-between !important;
  .w-color-circle-point {
    margin: 0 !important;

    div {
      background-color: var(--light-dark) !important;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.MuiToggleButtonGroup-root {
  transition: none !important;

  .MuiToggleButton-root {
    color: var(--light-dark) !important;
    border: 1px solid var(--light-dark) !important;
    transition: none !important;
    font-family: "Orbitron" !important;
    padding: 6px 10px !important;
    letter-spacing: 2px !important;
    font-size: 10px !important;
    transition: backgorund-color 0.3s ease-in-out, color 0.3s ease-in-out !important;

    &.Mui-selected,
    &.Mui-selected:hover {
      background-color: var(--palette-colour) !important;
      color: whitesmoke !important;
    }

    &:hover {
      background-color: var(--palette-colour-faded) !important;
    }

    .MuiSvgIcon-root {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.MuiButton-root {
  color: whitesmoke !important;
  background-color: var(--palette-colour) !important;
  border: 1px solid var(--light-dark) !important;
  transition: none !important;
  font-family: "Orbitron" !important;
  padding: 6px 10px !important;
  letter-spacing: 2px !important;
  font-size: 10px !important;
  min-width: fit-content !important;
  transition: backgorund-color 0.3s ease-in-out, color 0.3s ease-in-out !important;

  &:hover {
    background-color: var(--light-dark) !important;
    color: var(--palette-colour) !important;
    border-color: var(--palette-colour) !important;
  }

  .MuiSvgIcon-root {
    width: 24px !important;
    height: 24px !important;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiAppBar-root {
  border-radius: 20px !important;
}

.MuiTabs-root {
  border-radius: 20px 20px 0 0 !important;

  .MuiTab-root {
    color: var(--light-dark) !important;
    background-color: var(--palette-colour) !important;
    padding: 20px !important;
    font-family: "Orbitron" !important;
    font-size: 20px;
    color: whitesmoke !important;
  }

  .MuiTab-root:hover {
    border-bottom-color: var(--light-dark) !important;
  }

  .MuiTabs-indicator {
    background-color: var(--light-dark) !important;
    height: 4px !important;
  }
}

.MuiRating-icon {
  color: var(--rating-star) !important;
}

.MuiInputBase-root {
  .MuiSvgIcon-root {
    color: var(--light-dark) !important;
  }
}

.MuiInput-underline::before,
.MuiInput-underline::after {
  border-bottom: 1px solid var(--light-dark) !important;
}

.MuiListItemIcon-root {
  .MuiSvgIcon-root {
    color: var(--light-dark);
  }
}

.MuiDivider-root {
  border-color: light-dark(lightgrey, #333) !important;
}

.MuiTableHead-root {
  background-color: var(--palette-colour) !important;
}

.MuiTableCell-root {
  color: var(--light-dark) !important;
  font-family: "Orbitron" !important;
  text-wrap: nowrap !important;
  border-bottom-color: var(--light-dark) !important;
}

.MuiTableHead-root {
  .MuiTableRow-root:first-child {
    .MuiTableCell-root:first-child {
      border-top-left-radius: 10px !important ;
    }

    .MuiTableCell-root:last-child {
      border-top-right-radius: 10px !important ;
    }
  }
}

.MuiTableBody-root {
  .MuiTableRow-root:hover {
    .MuiTableCell-root {
      background-color: var(--palette-colour) !important;
      cursor: pointer;
    }
  }

  .MuiTableRow-root:first-child {
    .MuiTableCell-root:first-child {
      border-bottom-left-radius: 10px !important ;
    }

    .MuiTableCell-root:last-child {
      border-bottom-right-radius: 10px !important ;
    }
  }
}

.Mui-disabled {
  opacity: 50% !important;
  -webkit-text-fill-color: whitesmoke !important;
}

.MuiFormControl-root {
  .MuiFormLabel-root {
    color: var(--light-dark) !important;
    font-family: "Orbitron" !important;
  }

  .MuiSelect-select {
    color: var(--light-dark) !important;
    font-family: "Orbitron" !important;

    &.Mui-disabled {
      opacity: 100% !important;
    }
  }

  .MuiOutlinedInput-notchedOutline {
    letter-spacing: 0.1rem !important;
    border-color: var(--light-dark) !important;
  }

  .MuiSvgIcon-root {
    color: var(--light-dark) !important;
  }

  .Mui-disabled::before {
    border-bottom-style: solid !important;
  }

  .MuiInputBase-root {
    background-color: transparent !important;
  }

  .MuiInputBase-root:hover,
  .MuiInputBase-root::before,
  .MuiInputBase-root::after {
    border-bottom-color: var(--light-dark) !important;
  }
}

.MuiAutocomplete-paper {
  box-shadow: 0 5px 15px 0 black !important;
}

.MuiPaper-root {
  background-color: var(--dark-light) !important;
  color: var(--light-dark) !important;
  letter-spacing: inherit !important;
  line-height: inherit !important;

  .MuiAutocomplete-noOptions,
  .MuiAutocomplete-loading {
    color: var(--light-dark) !important;
    font-family: "Orbitron" !important;
  }

  .MuiList-root,
  .MuiAutocomplete-listbox {
    background-color: var(--dark-light);
    padding: 0;

    .MuiMenuItem-root,
    .MuiAutocomplete-option {
      padding: 0.75rem !important;
      font-family: "Orbitron" !important;
      font-size: 1rem;
      display: flex;
    }

    .MuiMenuItem-root:hover,
    .MuiAutocomplete-option:hover,
    .Mui-focused {
      background-color: var(--palette-colour-faded) !important;
    }

    .MuiMenuItem-root[aria-selected="true"] {
      background-color: var(--palette-colour) !important;
      color: whitesmoke !important;
    }

    .MuiAutocomplete-option {
      .MuiCheckbox-root {
        .MuiSvgIcon-root {
          color: var(--light-dark);
        }
      }
    }

    .MuiAutocomplete-option[aria-selected="true"] {
      background-color: var(--palette-colour-faded);
    }
  }
}

.MuiDialog-container {
  .MuiPaper-root {
    border-radius: 20px !important;

    .MuiDialogTitle-root {
      background-color: var(--palette-colour) !important;
      color: whitesmoke;
      padding: 1rem 2rem;
      font-family: "Orbitron";
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .MuiFab-root {
        background-color: whitesmoke !important;

        .MuiSvgIcon-root {
          color: var(--palette-colour) !important;
        }
      }
    }

    .MuiDialogContent-root {
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem !important;
      gap: 2rem;

      &.MuiDialogContent-dividers {
        border-color: light-dark(gray, #333) !important;
      }

      .MuiFormControl-root {
        .MuiInputBase-root {
          color: var(--light-dark) !important;
          overflow: hidden !important;

          .MuiAutocomplete-input {
            padding: 0 !important;
          }

          .MuiInputBase-input {
            padding: 8px 15px !important;
            display: flex !important;
            gap: 0.5rem !important;
            overflow: hidden !important;
          }
        }
      }

      .MuiAutocomplete-root {
        border-color: var(--light-dark) !important;
        .MuiInputBase-root {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          padding-left: 14px;
          color: whitesmoke !important;

          .MuiChip-root {
            color: var(--light-dark) !important;
            background-color: var(--palette-colour) !important;
          }

          .MuiInputBase-input {
            padding: 8px 15px !important;
            color: var(--light-dark) !important;
          }
        }
      }

      .MuiSlider-root {
        .MuiSlider-markLabel {
          color: var(--light-dark) !important;
        }
        .MuiSlider-rail {
          background-color: var(--light-dark) !important;
        }

        .MuiSlider-track {
          background-color: var(--palette-colour) !important;
        }

        .MuiSlider-mark {
          background-color: var(--light-dark) !important;
        }

        .MuiSlider-thumb {
          background-color: var(--light-dark) !important;
        }
      }
    }

    .MuiDialogActions-root {
      padding: 1rem 2rem;

      .reset-btn,
      .cancel-btn {
        border-color: var(--light-dark);
      }

      .reset-btn:not(:disabled):hover,
      .cancel-btn:not(:disabled):hover {
        background-color: var(--light-dark);
        color: var(--dark-light);
      }

      .apply-btn {
        background-color: var(--palette-colour);
        color: whitesmoke;
      }

      .apply-btn:not(:disabled):hover {
        background-color: light-dark(#242424, whitesmoke);
        color: var(--palette-colour);
      }
    }
  }
}

.MuiPickersLayout-root {
  .MuiPickersLayout-contentWrapper {
    .MuiDateCalendar-root {
      padding: 1rem !important;
      height: fit-content !important;
    }
  }
}

.MuiCard-root {
  border-radius: 8px !important;
  background-color: light-dark(whitesmoke, #242424) !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !important;
  min-width: 180px;
  min-height: 225px;
  width: 180px;
  height: 225px;
  position: relative;

  .image {
    width: 180px;
    height: 225px;
    position: absolute;
    border: none;
    text-align: center;
  }

  .MuiCardActionArea-root {
    height: inherit;

    .MuiCardHeader-root {
      background-color: var(--palette-colour);
      transition: display 0.3s ease-in-out;
      transition-behavior: allow-discrete;
      display: none;
      padding: 0.5rem;

      .MuiCardHeader-content {
        overflow: hidden;

        .MuiCardHeader-title {
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-family: "Orbitron";
          font-size: 0.8rem;
        }

        .MuiCardHeader-title {
          color: whitesmoke;
        }
      }
    }

    .MuiCardMedia-root {
      transition: height 0.3s ease-in-out;
      height: 225px;
      width: 180px;
      min-width: 180px;
    }

    .MuiCardContent-root {
      transition: display 0.3s ease-in-out;
      transition-behavior: allow-discrete;
      display: none;
      padding: 0.5rem 1rem;
      flex-direction: column;
      gap: 0.25rem;
      text-align: center;
      background-color: var(--dark-light);
      z-index: 999;

      .MuiTypography-root {
        font-family: "Orbitron";
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.6rem;
      }
    }
  }

  &:hover {
    .MuiCardActionArea-root {
      .MuiCardActionArea-focusHighlight {
        opacity: 0.15 !important;
      }
      .MuiCardHeader-root {
        display: block;
      }

      .MuiCardMedia-root {
        height: calc(225px - 101.23px);
      }

      .MuiCardContent-root {
        display: flex;
      }
    }
  }
}

.MuiFab-root {
  background-color: var(--palette-colour) !important;
  height: 40px !important;
  width: 40px !important;

  &:hover {
    background-color: #b62828 !important;
  }

  .MuiSvgIcon-root {
    color: whitesmoke !important;
  }
}

.MuiPopper-root {
  .MuiChartsTooltip-paper {
    background-color: light-dark(whitesmoke, #242424) !important;
    color: var(--light-dark) !important;

    .MuiTypography-root {
      color: var(--light-dark) !important;
    }

    .MuiChartsTooltip-mark {
      border-color: var(--light-dark) !important;
    }
  }
}

.MuiChartsAxis-root {
  .MuiChartsAxis-line {
    stroke: var(--light-dark) !important;
    stroke-width: 2 !important;
  }

  .MuiChartsAxis-tickContainer {
    .MuiChartsAxis-tick {
      stroke: var(--light-dark) !important;
      stroke-width: 2 !important;
    }
  }
  .MuiChartsAxis-tickLabel {
    fill: var(--light-dark) !important;
    font-family: inherit !important;
    font-size: 1rem !important;
  }

  .MuiChartsAxis-label {
    fill: var(--light-dark) !important;
    font-family: inherit !important;
    font-size: 1rem !important;
  }
}

.accordion {
  .sub-header {
    width: 100% !important;

    .MuiAccordionSummary-content {
      margin: 0 !important;
    }

    .MuiAccordionSummary-expandIconWrapper {
      .MuiSvgIcon-root {
        color: var(--light-dark) !important;
        font-size: 2rem;
      }
    }
  }
}
