.info-item {
  color: var(--light-dark);
  display: flex;
  align-items: center;
  background-color: light-dark(whitesmoke, #242424);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px #00000080;
}

input {
    font-size: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
}

.info-action {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancel-btn {
  border-color: var(--light-dark);
}

.cancel-btn:not(:disabled):hover {
  background-color: var(--light-dark);
  color: var(--dark-light);
}

.edit-btn,
.save-btn {
  background-color: var(--palette-colour);
  color: whitesmoke;
}

.edit-btn:not(:disabled):hover,
.save-btn:not(:disabled):hover {
  background-color: light-dark(#242424, whitesmoke);
  color: var(--palette-colour);
}
