.MuiDialogContent-root {
  .icon {
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--palette-colour);
    }
  }

  .ql-toolbar,
  .ql-container {
    border-color: gray;
  }

  .ql-container {
    font-size: 12.5px;
    height: fit-content;

    .ql-editor {
      font-family: "Orbitron";
      padding: 10px 15px;

      &::before {
        color: gray;
        left: 15px;
      }
    }
  }
}
