@use "../Style/Colours.scss";

.login-form {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 4rem);
  background-color: light-dark(whitesmoke, #242424);
  gap: 5px;
  border-radius: 0 0 20px 20px;
  max-height: 400px;
  overflow: hidden auto;

  .login-title {
    font-size: 35px;
  }

  .login-field {
    width: 100%;
    
    .login-label {
      align-self: flex-start;
      font-size: 20px;
    }

    .login-input {
      font-size: 20px;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid Colours.$light-dark;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: transparent;
      color: Colours.$light-dark;
      padding: 15px;
    }
  }

  .login-button {
    background-color: Colours.$primary-red;
    color: whitesmoke;
    padding: 15px;
    font-size: 20px;
    font-family: inherit;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1160px) {
  .login-form {
    .login-title {
      font-size: 1.5rem;
      text-align: center;
    }
    .login-field {
      font-size: 1rem;
      .login-label {
        font-size: 1rem;

      }
      .login-input {
        font-size: 1rem;
        padding: 5px 5px 5px 15px; 
      }
    }

    .login-button {
      font-size: 1rem;
      padding: 10px;
    }
  }
}
