.topbar {
  top: 0;
  width: 100%;
  z-index: 999;
  height: 4rem;
  text-wrap: nowrap;
  color: whitesmoke !important;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--palette-colour);
  box-shadow: 0 0 10px 0 black;

  .MuiIconButton-root {
    color: inherit;
    padding: 6px;
    transition: background-color 0.3s ease-in-out;

    .MuiSvgIcon-root {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
