.topbar {
  top: 0;
  width: 100%;
  z-index: 999;
  height: 4rem;
  text-wrap: nowrap;
  color: var(--light-dark) !important;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.white-text {
    color: whitesmoke !important;
  }

  &.palette-bg {
    background-color: var(--palette-colour) !important;
  }

  .MuiIconButton-root {
    color: inherit;
    padding: 8px !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
